/* Genel vücut düzeni */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

/* Header düzeni */
header {
  background-color:  #D1B29B;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}

header h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
}

/* Ana içerik alanı */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

/* Tarife başlıkları */
.recipe h2 {
  font-size: 2.5em;
  color: #ff6347;
  text-align: center;
  margin-bottom: 20px;
}

/* Tarife içerik alanı */
.recipe p {
  font-size: 1.1em;
  margin-bottom: 10px;
  padding-left: 10px;
  line-height: 1.8;
}

/* Resimler */
.recipe img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Footer düzeni */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

footer p {
  margin: 0;
  font-size: 1em;
}

footer a {
  color: #ff6347;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Genel düzenleme */
h2, h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #ff6347;
}

/* Sayfa düzeni için temel stiller */
.container {
  padding: 20px;
  margin-top: 20px;
}

.container .recipe {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe img {
  max-width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .recipe h2 {
    font-size: 2em;
  }

  header h1 {
    font-size: 2em;
  }
}
